<div class="row">
    <div class="col-xs-12 col-sm-3">
        <!--列表组-->
        <div class="list-group sidenav">
            <a class="list-group-item" href="/music/index.php/admin/index">
                <!--<span class="badge">4</span>-->
                分类管理
            </a>
            <a class="list-group-item" href="/music/index.php/admin/artist">
                <!--<span class="badge">14</span>-->
                歌手管理
            </a>
            <a class="list-group-item" href="/music/index.php/admin/album">
                <!--<span class="badge">14</span>-->
                专辑管理
            </a>
        </div>

    </div>
    <div class="col-xs-12 col-sm-9">
        <!--面板-->
        <div class="panel panel-info">


